<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sxay.yzzc.mapper.system.MenuMapper">
	<resultMap id="BaseResultMap" type="sxay.yzzc.pojo.system.Menu">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="text" jdbcType="VARCHAR" property="text" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="orders" jdbcType="INTEGER" property="orders" />
	</resultMap>
	<sql id="Base_Column_List">
		id, text, pid, type, remark, url, orders
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from menu
		where id = #{id,jdbcType=INTEGER}
	</select>



	<select id="selectRoleMenu" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT id
		,text
		,pid
		,r.menuId as remark
		FROM
		[yzzc].[dbo].[menu] m left join (
		SELECT
		roleId
		,menuId
		FROM role_menu
		where roleId=#{roleid,jdbcType=INTEGER}) r on (m.id=r.menuId)
		order by
		id
	</select>

	<select id="selectByPid" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from menu
		where pid = #{pid,jdbcType=INTEGER} 
	</select>

	<select id="selectByPidRole" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from menu
		where pid = #{pid,jdbcType=INTEGER} and id in (select menuid
		from role_menu where roleId=#{roleid,jdbcType=INTEGER})
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from menu
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="sxay.yzzc.pojo.system.Menu">
		insert into menu (id, text,
		pid,
		type, remark, url,
		orders)
		values (#{id,jdbcType=INTEGER},
		#{text,jdbcType=VARCHAR},
		#{pid,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR},
		#{orders,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="sxay.yzzc.pojo.system.Menu">
		insert into menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="text != null">
				text,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="orders != null">
				orders,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="text != null">
				#{text,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="orders != null">
				#{orders,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="sxay.yzzc.pojo.system.Menu">
		update menu
		<set>
			<if test="text != null">
				text = #{text,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="orders != null">
				orders = #{orders,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="sxay.yzzc.pojo.system.Menu">
		update menu
		set
		text = #{text,jdbcType=VARCHAR},
		pid = #{pid,jdbcType=INTEGER},
		type =
		#{type,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR},
		url =
		#{url,jdbcType=VARCHAR},
		orders = #{orders,jdbcType=INTEGER}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>