body {
	background-color: #DBE8F4;
	min-width: 1000px;
	min-height: 10px;
}

.navigation {
	margin-top: 0px;
	height: 28px;
	overflow: hidden;
	background:
		#2e8bcc
		repeat 0 0;
}

#contentMenu {
	position: absolute;
	top: 1px;
}

#imgdiv img,#contentMenu {
	height: 260px;
}

#contentMenu,#contentMenu div {
	background: #2e8bcc
		repeat 0 0px;
}

.leaf,.leafFolder,.sleaf {
	width: 130px;
	height: 20px;
	padding-left: 10px;
	padding-top: 2px; /*Ushine 2016-02-17*/
}

.leaf span,.sleaf span {
	color: #fff;
}

.leafFolder span {
	color: #666;
	font-weight: 700;
}

.leaf a {
	border-top: 0;
	border-bottom: 0;
}

#sleaf,.group,.leaf,.leafFolder,.menulist,.line,#imgdiv {
	float: left;
}

#sleaf {
	padding-top: 30px;
}

.group {
	width: 130px;
	height: 250px;
	/* 	border:solid 1px black; */
}

.menulist {
	width: 140px;
	padding-top: 5px; /*Ushine 2016-02-17*/
}

.line {
	width: 2px;
}

.line>img {
	padding-top: 15px;
	height: 230px;
	width: 2px
}

#imgdiv {
	position: absolute;
	left: 99%;
	top: 0;
}
.bluebg {
    background:#dae4ed url(../images/zvingBlue.png) repeat-x right top;
    color:#cfdee5;
}
.loginInfo {
    position:absolute;
    right:10px;
    top:5px;
    text-align:right;
    width:50%;
}
.loginInfo b { color:#fff; }
.loginInfo_welcom { _margin-right:36px; }
/* .navigation{ margin-top:30px; height: 28px; overflow: hidden;} 
.navigation a {
    float: left;
    _display: inline;
    -moz-user-select:none;
    cursor:pointer;
    height: 28px;
    padding: 0 0 0 22px;
    font-size: 13px;
    font-family: SimSun;
    color: #DDFFFF;
    margin-right:-20px;
}
.navigation a:first-child{
}
.navigation a b {
    font-weight: normal;
    display:inline-block;
*zoom: 1;
*display: inline;
    height: 21px;
    white-space: nowrap;
    padding: 7px 22px 0 0;
    position:relative;
    z-index:1;
}
.navigation a:hover {
    text-decoration:none;
    background:url('../images/buttons.png') no-repeat 0 0;
    position:relative;
    z-index:2;
}
.navigation a:hover b {
    color: #0066AA;
    background: url('../images/buttons.png') no-repeat right 0;
}
.navigation a.current {
    text-decoration:none;
    background:url('../images/buttons.png') no-repeat 0 -40px;
    position:relative;
    z-index:3;
}
.navigation a.current b {
    color: #004080;
    background: url('../images/buttons.png') no-repeat right -40px;
}
.navigation a.current b { font-weight:bold; } */